include LICENSE
include requirements.txt
include README.md
include CONTRIBUTING.rst
include nextlinux_engine/conf/*
include nextlinux_engine/conf/bundles/*
include nextlinux_engine/conf/clamav/*
include nextlinux_engine/analyzers/modules/*
global-include swagger.yaml